/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import "tailwindcss";

body {
  background: #09090b;
}

/* Smooth scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 3px;
}